.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #7c4d30b3;
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  padding: 10px;
}

.example-full-width {
  width: 100%;
}

.mat-flat-button {
  justify-content: end;
}

.auth-buttons {
  display: flex;
  justify-content:space-around
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: #f44336;
    cursor: pointer;
  }
}

h2 {
  text-align: center;
  color: White;
}

mat-error ::ng-deep {
  color: rgb(28, 0, 0);
}
