
.navbar {
  justify-content: space-between;
}

span {
  padding-right: 2rem;
  outline: none;
  font-size: calc(17px + 0.5vw);

  &:hover {
    color: rgb(148, 137, 57);
    cursor: pointer;
  }
}

img {
  width: 65px;
  height: 60px;
  padding-top: 8px;
}

.active{
  color: #650606;
}

.mat-toolbar.mat-accent  {
  background-color: #4e6690;;
}
