@import '../../assets/variable';

.container {
  height: calc(100% - #{$header-height});
  width: 100vw;
  background: linear-gradient(180deg, #5892db 6%, #8e9fa7 56%, #c8631b 100%);

  .bg-box {
    background-image: url("/assets/images/main_background.jpg");
    background-size: 100% 100%;
    padding-top: 20px;
    box-sizing: content-box;
    height: 90%;
    width: calc(140px + 55vw);
    margin: auto;

    
    .welcome {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 10vw;
      width: calc(150px + 10vw);
      margin: auto;
      border-radius: 50%;
      border: 1px dashed;
      font-size: 20px;
      color: #c8631b;
      background-color: rgb(255 255 255 / 50%);
      font-size: calc(10px + 0.8vw);
      word-wrap: break-word;
      padding: 2px;
    }
  }
}


