<div *ngIf="info$ | async as localData" class="weather-style">
  <div class="weather-box">
    <h1>Weather App</h1>
    <div class="info">
      <label for="city">Please enter name of the city and hit 'enter' or click on the map to get new info:</label>
      <input id="city" type="text" placeholder="cityName" [(ngModel)]="cityName" (keyup.enter)="onChangeLocation()">
      <div class="info-block">
        <div>
          {{localData['name']}}: {{localData['main']['temp'] | round}}&#8451;/{{celConvertFah(localData['main']['temp']) | round}}&#8457;,
        </div>
        <div>
           {{localData['weather'][0]['description']}}:
         <img src="http://openweathermap.org/img/wn/{{localData['weather'][0]['icon']}}.png"/>
        </div>
        <div>
         Wind: <img src="assets/images/wind-icon.png"/>{{localData['wind']['speed']}}m/s,
        </div>
        <div>
         Humidity: <img class="humidity" src="assets/images/humidity.png"/> {{localData['main']['humidity']}}%
        </div>
      </div>
    </div>
  </div>
  <div class="map-chart">
    <div>
      <app-map [coords]="localData['coord']" [data]="localData" (maplatlng)="onMaplatlng($event)" ></app-map>
    </div>
    <div>
      <app-weather-chart [coords]="localData['coord']"></app-weather-chart>
    </div>
  </div>
</div>
