.weather-box {
  background-color: #e0dbce;
  width: 59vw;
  border-radius: 25px;
  padding-left: 5px;
  margin: auto;

  h1{
    text-align: center;
  }

  input {
    display: block;
    width: 52vw;
    height: 25px;
  }
}
.map-chart {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.info-block {
  display: flex;
  align-items: center;
}

.weather-style {
  background: linear-gradient(180deg, rgb(230, 176, 143) 15%, rgba(199,195,109,1) 56%, rgb(121, 186, 199) 100%);
  padding: 10px 10px 10px 0;
}

img {
  width: 45px;
}
