.weather-box {
  background-color: aquamarine;
  width: 59vw;
  border: 1px solid gray;
  padding: 5px;
  margin: auto;

  h1{
    text-align: center;
  }

  input {
    display: block;
    width: 52vw;
    height: 25px;
  }
}
.map-chart {
  display: flex;
  width: 100%;
}
