#mapid {
  height: 58vh;
  margin: 10px
}

::ng-deep .leaflet-popup-content-wrapper {
  background-color: rgb(154, 162, 88) !important;
  opacity: 0.9;

  .info-block {
    display: flex;
    align-items: center;
  }
}


