.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 5px;
  padding:0 10px;
}

.grid-item {
  background-color: rgb(196, 191, 191);
  height: 13vh;
  text-align: center;
  border-radius: 8px;
  color: rgb(94, 58, 33);
  font-size: 14px;
  height: max-content;
  block-size: max-content;

  &:hover {
    background-color:rgb(123, 118, 118);
  }
  
  img{
    width: 40px;
    height: 40px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
