<div class="chart-wrapper" style="width: 48vw; height: 45vh; margin: 10px">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
<div class="grid-container">
  <div class="grid-item" *ngFor="let dayInfo of daysInfo">
    <p>{{ dayInfo.dt * 1000 | date: 'EEE' }}</p>
    <img src="http://openweathermap.org/img/wn/{{dayInfo.weather[0].icon}}.png" />
    <p>
      <span style="color:rgb(92, 76, 5)">{{dayInfo.temp.day | round}}<sup>0</sup></span>
      <span style="color:rgb(48, 67, 67)"> {{dayInfo.temp.night | round}}<sup>0</sup></span>
    </p>
  </div>
</div>
